@import "fonts";
@import "form";
@import "transition";

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin; // Firefox
}

*::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  @apply bg-scrollbar-track;
}

body::-webkit-scrollbar-thumb {
  @apply bg-scrollbar-thumb;
}
